EXCLUSIVE:DIFFRACTIVE_JPSI:nevents:
  extends: .nevents
  parallel:
    matrix:
      - DATA:
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/Sartre_Coherent.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/Sartre_Incoherent.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/lAger/lAger3.6.1-1.0_jpsi_5x41_hiAcc.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/lAger/lAger3.6.1-1.0_jpsi_5x100_hiAcc.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/lAger/lAger3.6.1-1.0_jpsi_10x100_hiAcc.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/lAger/lAger3.6.1-1.0_jpsi_10x130_hiAcc.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/lAger/lAger3.6.1-1.0_jpsi_18x275_hiAcc.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/eSTARlight/eSTARlight1.2.0-1.0_coherent_eCu_jpsi_10x115_afterburned.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/eSTARlight/eSTARlight1.2.0-1.0_coherent_eRu_jpsi_10x115_afterburned.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/eSTARlight/eSTARlight1.3.0-1.0_coherent_ep_JPsi_18x275_q2_nocut_edecay.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/eSTARlight/eSTARlight1.3.0-1.0_coherent_ep_JPsi_18x275_q2_nocut_mudecay.csv"



EXCLUSIVE:DIFFRACTIVE_JPSI:timings:
  extends: .timings
  needs:
    - EXCLUSIVE:DIFFRACTIVE_JPSI:nevents
  variables:
    NEVENTS_PER_TEST: 25
  parallel:
    matrix:
      - DATA:
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/Sartre_Coherent.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/Sartre_Incoherent.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/lAger/lAger3.6.1-1.0_jpsi_5x41_hiAcc.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/lAger/lAger3.6.1-1.0_jpsi_5x100_hiAcc.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/lAger/lAger3.6.1-1.0_jpsi_10x100_hiAcc.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/lAger/lAger3.6.1-1.0_jpsi_10x130_hiAcc.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/lAger/lAger3.6.1-1.0_jpsi_18x275_hiAcc.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/eSTARlight/eSTARlight1.2.0-1.0_coherent_eCu_jpsi_10x115_afterburned.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/eSTARlight/eSTARlight1.2.0-1.0_coherent_eRu_jpsi_10x115_afterburned.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/eSTARlight/eSTARlight1.3.0-1.0_coherent_ep_JPsi_18x275_q2_nocut_edecay.csv"
        - "EXCLUSIVE/DIFFRACTIVE_JPSI/eSTARlight/eSTARlight1.3.0-1.0_coherent_ep_JPsi_18x275_q2_nocut_mudecay.csv"

EXCLUSIVE:DIFFRACTIVE_JPSI:collect:
  extends: .collect
  needs: 
    - EXCLUSIVE:DIFFRACTIVE_JPSI:timings
